body {
    min-height: 75rem;
    padding-top: 4.5rem;
    font-family: "Montserrat Alternates", sans-serif;
    color: #033540;
}

.yatube-navbar-bg {
    background-color: #015366 !important;
}

.yatube-card-header-bg {
    background-color: #A7D1D2;
}

.yatube-card-footer-bg {
    background-color: #E0F4F5;
}

.yatube-nav-link-bg {
    background-color: #E0F4F5 !important;
}

.yatube-page-link-bg {
    background-color: #E0F4F5 !important;
}

.yatube-scrollable {
    max-height: 25em;
    overflow: auto;
}